on post-fs-data
    mkdir /efs/dsms 0310 vendor_dsms vendor_dsms
    chown vendor_dsms vendor_dsms /efs/dsms/recovery.log
    chmod 0660 /efs/dsms/recovery.log
    chown vendor_dsms vendor_dsms /efs/dsms/factory.log
    chmod 0660 /efs/dsms/factory.log
    restorecon_recursive /efs/dsms
